{% load i18n %}
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#programInfoModal"><i class="fa fa-info"></i></button>

<!-- Modal -->
<div id="programInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ item.name }}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans 'Program' %} Type: {{ item.get_cname }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
